#score {
    text-align: center;
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    background-image: url("https://t3.ftcdn.net/jpg/01/43/15/96/360_F_143159642_3lLXAqyK5njcObByil9Zhv6L2htLFL58.webp");
    background-size: cover;
}

#dino {
    height: 75px;
    width: 75px;
    position: relative;
    top: 200px; 
    background-image: url("https://static.thenounproject.com/png/3907595-200.png");
    background-size: cover;
}

#rock {
    height: 75px;
    width: 75px;
    position: relative;
    top: 145px; 
    left: 525px;
    background-image: url("https://cdn.pixabay.com/photo/2022/11/01/17/50/rock-7562944_960_720.png");
    background-size: cover;
    animation: rock 1.33s infinite;
}

@keyframes rock {
    0%{left: 525px;}
    100%{left: -50px;}
}